<template>
  <b-sidebar
    v-model="isSidebarOpen"
    class="sidebar"
    style="padding: 40px"
    type="is-light"
    :fullheight="fullheight"
    :fullwidth="fullwidth"
    :overlay="overlay"
    :right="right"
    :can-cancel="['escape']"
  >
    <div class="sidebar-top">
      <div class="button-wrap">
        <b-button rounded @click="closeSidebar">
          <b-icon icon="close" size="is-small"></b-icon>
        </b-button>
      </div>

      <div v-if="errors.length" class="errors">
        <p><b>Please correct the following error(s):</b></p>
        <ul>
          <li v-for="(error, i) in errors" :key="`err-${i}`">{{ error }}</li>
        </ul>
      </div>
      <b-field label="Title">
        <b-input v-model="title" required maxlength="100"></b-input>
      </b-field>
      <b-field label="Description">
        <b-input
          v-model="description"
          maxlength="500"
          type="textarea"
        ></b-input>
      </b-field>

      <b-field label="Dates">
        <b-datepicker
          v-model="dates"
          placeholder="Click to select..."
          icon-right="calendar"
          multiple
        >
        </b-datepicker>
      </b-field>
      <ul>
        <li v-for="(data, i) in formData" :key="`data-${i}`">
          <div class="date-header">
            <p>
              {{ getDate(data.date) }}
            </p>
            <b-button
              class="delete-date"
              type="is-ghost"
              size="is-medium"
              icon-right="close-thick"
              @click="deleteDate(i)"
            ></b-button>
          </div>
          <div class="date-wrap">
            <div class="columns">
              <div class="column">
                <b-field label="Starttime">
                  <b-clockpicker
                    icon-right="clock"
                    :value="data.starttime"
                    @input="changeStarttime($event, i)"
                  ></b-clockpicker>
                </b-field>
              </div>
              <div class="column">
                <b-field label="Endtime">
                  <b-clockpicker
                    icon-right="clock"
                    :value="data.endtime"
                    @input="changeEndtime($event, i)"
                  ></b-clockpicker>
                </b-field>
              </div>
              <div class="column">
                <b-field label="Price">
                  <b-input
                    type="number"
                    icon-right="currency-eur"
                    :value="data.price"
                    @input="changePrice($event, i)"
                  ></b-input>
                </b-field>
              </div>
            </div>
            <b-field label="Type ">
              <b-select
                placeholder="Select a name"
                :value="data.selected"
                @input="changeSelected($event, i)"
              >
                <option v-for="option in options" :key="option" :value="option">
                  {{ option }}
                </option>
              </b-select>
            </b-field>
          </div>
        </li>
      </ul>
    </div>
    <div class="p-1 sidebar-bottom">
      <div class="columns">
        <div class="column">
          <b-button active expanded @click="removeShift">DELETE</b-button>
        </div>
        <div class="column">
          <b-button type="is-dark" expanded @click="changeShift">SAVE</b-button>
        </div>
      </div>
    </div>
  </b-sidebar>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import { addZero } from '~/helpers/index.js';

export default {
  name: 'AppSidebar',
  data: () => ({
    overlay: false,
    fullheight: true,
    fullwidth: false,
    right: true,
    options: ['Consultation', 'Telephone', 'Ambulance'],
    errors: [],
  }),
  computed: {
    ...mapState('shifts', ['currentShift']),
    ...mapState(['sidebarIsOpen', 'maxDates', 'onEdit']),
    title: {
      get() {
        return this.currentShift.title;
      },
      set(val) {
        this.editTitle(val);
      },
    },
    description: {
      get() {
        return this.currentShift.description;
      },
      set(val) {
        this.editDescription(val);
      },
    },
    dates: {
      get() {
        return this.currentShift.dates;
      },
      set(val) {
        if (this.dates.length >= this.maxDates) {
          this.datesWarn();
        } else {
          this.editDates(val);
          this.addFormData({
            id: Date.now(),
            date: val[val.length - 1],
            selected: 'Consultation',
            starttime: new Date(),
            endtime: new Date(),
            price: 0,
          });
        }
      },
    },
    isSidebarOpen: {
      get() {
        return this.sidebarIsOpen;
      },
      set() {
        this.closeSidebar();
      },
    },

    formData() {
      return this.currentShift.formData;
    },
  },
  methods: {
    ...mapMutations('shifts', [
      'addFormData',
      'addShift',
      'clearShift',
      'deleteShift',
      'deleteDate',
      'editDates',
      'editDescription',
      'editEndTime',
      'editTitle',
      'editPrice',
      'editStartTime',
      'editSelected',
      'editShift',
    ]),
    ...mapMutations(['exitSidebar']),
    addZero,
    changeStarttime(val, i) {
      this.editStartTime({ val, i });
    },
    changeEndtime(val, i) {
      this.editEndTime({ val, i });
    },
    changePrice(val, i) {
      this.editPrice({ val, i });
    },
    changeSelected(val, i) {
      this.editSelected({ val, i });
    },
    datesWarn() {
      this.errors = [];
      this.errors.push('Maximum dates exceeded. Only first 10 will be added');
    },
    checkForm() {
      this.errors = [];
      let isValid = true;
      const sidebar = document.querySelector('.sidebar-content');
      const validFailed = () => {
        isValid = false;
        sidebar.scrollTop = 0;
      };
      if (!this.title) {
        this.errors.push('Please add title');
        validFailed();
      }
      if (!this.dates.length) {
        this.errors.push('Please add minumun one date');
        validFailed();
      }
      if (this.formData.some((el) => el.selected === '')) {
        this.errors.push('Please add dates type');
        validFailed();
      }
      if (this.formData.some((el) => el.starttime > el.endtime)) {
        this.errors.push(
          'Please add right time. Endtime should be bigger, than Starttime'
        );
        validFailed();
      }

      return isValid;
    },

    closeSidebar() {
      this.exitSidebar();
      this.clearShift();
      this.errors = [];
    },
    changeShift() {
      if (this.checkForm()) {
        if (!this.onEdit) {
          this.addShift(this.formData);
        } else {
          this.editShift(this.formData);
        }
        this.closeSidebar();
      }
    },
    removeShift() {
      this.deleteShift();
      this.closeSidebar();
    },
    deleteData(i) {
      this.deleteDate(i);
    },
    getDate(date) {
      return `${addZero(date.getDate())}-${addZero(
        date.getMonth() + 1
      )}-${date.getFullYear()}`;
    },
  },
};
</script>

<style scoped >
.sidebar >>> .sidebar-content {
  justify-content: space-between;
  width: 500px;
  padding: 40px;
}

.button-wrap {
  text-align: right;
}
.button-wrap >>> .button.is-rounded {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

.date-wrap {
  display: block;
  border-radius: 5px;
  background: #484848;
  padding: 10px;
  margin: 0 0 10px;
  color: #fff;
}
.date-wrap >>> label {
  color: #fff;
}
.date-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-date.button {
  color: #484848;
  padding: 0;
}
.errors li {
  color: red;
}
</style>
