<template>
  <div class="shift" v-if="shiftsContent.length">
    <div class="shift-wrapper">
      <div class="shift-header">
        <h2>{{ title }}</h2>
        <b-button
          class="delete-shift"
          type="is-ghost"
          size="is-medium"
          icon-right="pencil"
          @click="onEdit"
        />
      </div>
      <p>{{ description }}</p>
      <h2>Dates</h2>
      <ul>
        <li
          class="shift-content columns"
          v-for="shift in shiftsContent"
          :key="`shift-${shift.id}`"
        >
          <div class="left-part column">
            <p>{{ getDate(shift.date) }}</p>
            <div class="time">
              <p>{{ getTime(shift.starttime) }}</p>
              <p>{{ getTime(shift.endtime) }}</p>
            </div>
            <p>{{ shift.selected }}</p>
          </div>
          <div class="right-part column">
            <p>€{{ +shift.price }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import { addZero } from '~/helpers';

export default {
  name: 'AppShift',
  props: {
    title: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    shiftsContent: {
      type: Array,
      default: () => [],
    },
    id: {
      type: Number,
    },
  },
  methods: {
    ...mapMutations({
      edited: 'edited',
      getCurrentShift: 'shifts/getCurrentShift',
      openSidebar: 'openSidebar',
    }),
    addZero,
    getDate(date) {
      const day = this.addZero(date.getDate());
      const month = date
        .toLocaleString('en-GB', { month: 'short' })
        .toLowerCase();
      const year = date.getFullYear();
      return `${day} ${month} ${year}`;
    },
    getTime(time) {
      const hours = this.addZero(time.getHours());
      const minutes = this.addZero(time.getMinutes());
      return `${hours}:${minutes}`;
    },
    onEdit() {
      this.getCurrentShift(this.id);
      this.edited();
      this.openSidebar();
    },
  },
};
</script>

<style scoped >
.shift {
  margin: 20px 0;
}
h2 {
  font-size: 30px;
}
.shift .shift-wrapper {
  max-width: 1000px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

p::first-letter,
h2::first-letter {
  text-transform: capitalize;
}

.shift-content {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: #484848;
  padding: 10px 20px;
  margin: 10px 0;
  color: #fff;
}
.shift-content .left-part {
  display: flex;
  column-gap: 40px;
  flex-grow: 10;
}
.shift-content .time {
  display: flex;
}
.shift-content .time p {
  padding: 0 10px;
}

.shift-content .right-part {
  text-align: right;
}
.shift-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-shift.button {
  color: #484848;
  padding: 0;
}
</style>
