<template>
  <section class="section">
    <div class="is-mobile">
      <h2 class="underlined-header">Filter</h2>

      <div class="slider flex-center">
        <div class="slider-label"><p>Filter on price</p></div>
        <b-field class="filter-price">
          <b-slider
            size="is-medium"
            v-model="maxSliderValue"
            :min="minPrice"
            :max="maxPrice"
            rounded
          >
            <template v-for="(val, i) in getAllPrices">
              <b-slider-tick :value="val" :key="`tick-${i}`">{{
                val
              }}</b-slider-tick>
            </template>
          </b-slider>
        </b-field>
      </div>

      <div class="shifts-title flex-center">
        <h2 class="underlined-header">Shifts</h2>
        <b-button @click="openSidebar" type="is-dark">ADD SHIFT</b-button>
      </div>

      <app-sidebar />

      <app-shift
        v-for="shift in shifts"
        :key="shift.id"
        :title="shift.title"
        :description="shift.description"
        :shifts-content="filteredformData(shift.formData)"
        :id="shift.id"
      />
    </div>
  </section>
</template>

<script>
import AppSidebar from '~/components/AppSidebar';
import AppShift from '~/components/AppShift';
import { mapGetters, mapMutations, mapState } from 'vuex';

export default {
  name: 'HomePage',
  components: {
    AppSidebar,
    AppShift,
  },

  data: () => ({
    sliderValue: 0,
  }),
  computed: {
    ...mapGetters('shifts', ['getAllPrices', 'maxPrice', 'minPrice']),
    ...mapState('shifts', ['allShifts']),
    shifts() {
      return this.allShifts;
    },

    maxSliderValue: {
      get() {
        return this.maxPrice;
      },
      set(val) {
        this.sliderValue = val;
      },
    },
  },
  methods: {
    ...mapMutations(['openSidebar']),
    filteredformData(arr) {
      return arr.filter((el) => this.sliderValue >= el.price);
    },
  },
};
</script>

<style scoped>
.section {
  max-width: 1000px;
}
.button.is-dark {
  background-color: #484848;
}
h2 {
  font-size: 30px;
}
.flex-center {
  display: flex;
  align-items: center;
}
.filter-price {
  margin: 20px 0;
  max-width: 400px;
  width: 100%;
}
.slider {
  column-gap: 30px;
}
.slider >>> .b-slider.is-primary .b-slider-fill,
.slider >>> .b-tooltip.is-primary .tooltip-content {
  background: #f77f89 !important;
}
.slider >>> .b-tooltip.is-top.is-primary .tooltip-content::before {
  border-top-color: #f77f89;
}
.slider >>> .b-slider.is-medium .b-slider-tick-label {
  top: -500%;
}

.underlined-header {
  color: #484848;
  font-weight: bold;
  display: inline-block;
}
.underlined-header::after {
  content: '';
  display: block;
  background: #f77f89;
  width: 70%;
  height: 5px;
}

.shifts-title {
  justify-content: space-between;
}
</style>